<div class="form-group">
  <% if flash[:alert] %>
    <p id="notice"><%= flash[:alert] %></p>
  <% end %>

  <%= form_tag do %>
      <legend>Restricted area:</legend>
      <div>
        <%= label_tag :name, 'Login:' %>
        <%= text_field :name, params[:name], class: "form-control", placeholder: "",  style: "width: 400px", autofocus: "" %>
      </div>
      <div>
        <%= label_tag :password, 'Password:' %>
        <%= password_field_tag :password, params[:password], class: "form-control", placeholder: "",  style: "width: 400px", autofocus: "" %>
      </div>
      <br />
      <div>
        <%= submit_tag "Login", class: "btn btn-default" %>
      </div>
    
  <% end %>
</div>