<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div class="alert alert-danger" role="alert">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2ß>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %><br>
    <%= f.text_field :name,  class: "form-control", placeholder: "Username",  style: "width: 400px", autofocus: ""%>
  </div>
  <div class="field">
    <%= f.label :password %><br>
    <%= f.password_field :password, class: "form-control", placeholder: "",  style: "width: 400px", autofocus: "" %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation %><br>
    <%= f.password_field :password_confirmation, class: "form-control", placeholder: "",  style: "width: 400px", autofocus: "" %>
  </div>
  
  <div class="actions">
    <%= f.submit 'Save user', class: "btn btn-success btn-sm" %>
  </div>
<% end %>