<div class="container">   

    <div class="divider-new">
        <% unless current_user.name? %>
            <h2 class="h2-responsive">Hello, stranger!</h2>
        <% else %>
            <h2 class="h2-responsive">Hello, <%= current_user.name %>!</h2>
        <% end %>
    </div>
    <!--First Row--> 
    <div class="row">
        <!-- Cart-->
        <div class="col-md-6">
            <!--Card-->
            <div class="card hoverable">
                <!--Card image-->
                <div class="view overlay hm-white-slight">
                    <img src="https://static.pexels.com/photos/291762/pexels-photo-291762.jpeg" class="img-fluid" alt="">
                    <a>
                        <%= link_to '', edit_cart_path(@cart), class: "mask waves-effect waves-light" %>
                       
                    </a>
                </div>
                <!--/.Card image-->
                
                <!--Card content-->
                <div class="card-block">
                  
                    <!--Title-->
                    <h4 class="card-title">Your cart</h4>
                    <hr>
                    <!--Text-->
                    <% if @cart.line_items.empty? %>
                        <p class="card-text">Your cart is empty.</p>
                    <% else %>
                        <p class="card-text"><%= pluralize(@cart.line_items.sum('quantity'), " amaizing product") %> currently added to your cart.</p>
                    <% end %>
                </div>
                <!--/.Card content-->
            </div>
            <!--/.Card-->
        </div>
        <!--/Cart-->

        <br />

        <br />

        <!--Profile settings-->  
        <div class="col-md-6">
            <!--Card-->
            <div class="card hoverable">
                <!--Card image-->
                <div class="view overlay hm-white-slight">
                    <img src="https://static.pexels.com/photos/8180/time-watch-theme-machines-gears.jpg" class="img-fluid" alt="">
                    <a>
                    <%= link_to '', edit_user_path(current_user), class: "mask waves-effect waves-light" %>
                    </a>
                </div>
                <!--/.Card image-->

                <!--Card content-->
                <div class="card-block">
                    <!--Title-->
                    <h4 class="card-title">Your profile details</h4>
                    <hr>
                    <!--Text-->
                    <p class="card-text">Edit your registration information</p>
                </div>
                <!--/.Card content-->
            </div>
            <!--/.Card-->
        </div>
        <!--/Profile settings-->
    </div>
    <!--/First Row--> 
    <br /> 

    <br /> 

    <hr class="between-sections">

    
    <!--Second Row--> 
    <div class="row">
        <!--Recent orders--> 
        <div class="col-md-12">
            <!--Panel-->
            <div class="card card-block">
                <h4 class="card-title">Your Recent Orders</h4>
                
                <% if @user_orders.empty? %>
                    <p class="text-muted">Holy guacamole! You haven't placed any orders yet!</p>
                <% else %>
                    <br />
                    <div class="table">

                        <table class="table product-table">
                            <thead class="thead-inverse">
                                <tr class="">
                                    <th>#</th>
                                    <th>Created date</th>
                                    <th>Products & Qty</th>
                                    <th>Total price</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <% @user_orders.each_with_index do |recent_order, index| %>
                            <tbody>
                                <tr>
                                    <td><%= index + 1 %></td>
                                    <td><%= recent_order.created_at.strftime("%F, %H:%M") %></td>
                                    <td>
                                        <ul>
                                            <% recent_order.line_items.each do |line_item| %>
                                            <li><%= line_item.product.title %> x <%= line_item.quantity %></li> 
                                        <% end %>
                                        </ul>
                                    </td>
                                    <td><%= number_to_currency(recent_order.line_items.to_a.sum { |item| item.total_price }) %></td>
                                    <td><span class="green-text"><%= recent_order.status.humanize %></span></td>
                                </tr>
                                <% end %>
                            </tbody>
                        </table>
                    </div>
                <% end %>
            
            </div>
            <!--/.Panel-->
        </div>
        <!--/Recent orders--> 
    </div>
    <!--/Second Row--> 
    

    <br /> 

    <br /> 

    <hr class="between-sections">

    <!--Third Row--> 
    <div class="row">
        <!--User reviews--> 
        <div class="col-md-12">
            <!--Panel-->
            <div class="card card-block">
                <h4 class="card-title">Your product reviews</h4>
                <% if @user_reviews.empty? %>
                    <p class="text-muted">Here is empty, completely empty.</p>
                <% else %>
                    <br />
                    <table class="table">
                        <thead class="thead-inverse">
                            <tr>
                                <th>#</th>
                                <th>Product</th>
                                <th>Your review</th>
                                <th>Rating</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% @user_reviews.each_with_index do |review, index| %>
                                <tr>
                                    <th scope="row"> <%= index + 1 %></th>
                                    <td><%= review.product.title %></td>
                                    <td><%= truncate(strip_tags(review.comment), length: 70) %></td>
                                    <td><%= review.rating %></td>
                                    <td>
                                        <a class="blue-text" href="<%= product_path(review.product) %>"><i class="fa fa-eye"></i></a>
                                        <a class="teal-text" href="<%= edit_product_review_path(id: review.id, product_id: review.product.id) %>"><i class="fa fa-pencil"></i></a>
                                        </td>
                                </tr>
                            <% end %>
                        </tbody>
                    </table>
                <% end %>
            </div>
            <!--/.Panel-->
        </div>
        <!--/User reviews--> 
    </div>
    <!--/Third Row--> 

    <br /> 

    <br /> 

  

    <a class="btn btn-mdb" href="<%= store_url %>">Continue shopping</a>
    
</div>
