<div class="container">
  <div class="divider-new">
          <h2 class="h2-responsive">Change your password</h2>
  </div>


  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
    <%= devise_error_messages! %>
    <%= f.hidden_field :reset_password_token %>
    <div class="flex-center">
      <div class="field">
        <%= f.password_field :password, autofocus: true, autocomplete: "off", placeholder: "New password (6 characters minimum)", style: "width: 300px;", class: "text-center" %>
      </div>
    </div>
    <br />
    <div class="flex-center">
      <div class="field">
        <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Confirm new password", style: "width: 300px;", class: "text-center" %>
      </div>
    </div>

    <div class="text-center">
      <br />
      <button type="submit" class="btn btn-outline-info waves-effect">Change my password</button>
    </div>
  <% end %>
</div>

