<div class="container">
  <div class="divider-new">
          <h2 class="h2-responsive">Forgot your password?</h2>
  </div>
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>

    <%= devise_error_messages! %>
    <div class="form">

    <div class="flex-center">
      <br />
      <%= f.email_field :email, autofocus: true, placeholder: "Input your email here", class: "text-center", style: "width: 300px;" %>
    </div>

    <br />

    <div class="text-center">
      <br />
      <button type="submit" class="btn btn-outline-info waves-effect" rel="nofollow">Send me reset password instructions</button>
    </div>

    <div class="text-center">
      <br />
      <p class="text-muted">Remembered? <a href="<%= new_user_session_path %>" rel="nofollow">Login</a></p>
      <p class="text-muted">Not a member? <a href="<%= new_user_registration_path %>" rel="nofollow">Sign Up</a></p>
    </div>
 
  </div>
  <% end %>
</div>

