
<!-- Marketing messaging and featurettes
  ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->

  <div class="container-fluid">

    <!-- Three columns of text below the carousel -->
    <div class="row">
      <div class="col-md-4">  
        <h2>Be first</h2>
          <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-md-4">
        <h2>Be second</h2>
          <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-md-4">
        <h2>Be third</h2>
          <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->
 



<!-- START THE FEATURETTES -->
  <% @news.each_with_index do |article, index| %>
    <% if index.odd?  %> 

      <hr class="featurette-divider">
      <div class="row featurette">
        <div class="col-md-9">
          <h2 class="featurette-heading"><%= article.title %><span class="text-muted"> <%= article.sub_title %></span></h2>
            
          <p class="lead"><%= truncate(strip_tags(article.body), length: 140) %> &nbsp; <%= link_to 'View more details >>', article, class: "btn btn-default" %></p>
          <p><i>Was added by Eshop <%= time_ago_in_words(article.created_at) %> ago</i></p>
          <br />
        </div>
        <div class="col-md-3">
          <%= image_tag(article.image_url, class: 'featurette-image img-responsive') %>
        
        </div>
      </div>

    <% else %>

      <hr class="featurette-divider">
      <div class="row featurette">
        <div class="col-md-3">
          <%= image_tag(article.image_url, class: 'featurette-image img-responsive') %> 
        </div>
        <div class="col-md-9">
          <h2 class="featurette-heading"><%= article.title %><span class="text-muted"> <%= article.sub_title %></span></h2>
           <p class="lead"><%= truncate(strip_tags(article.body), length: 140) %> &nbsp; <%= link_to 'View more details >>', article, class: "btn btn-default" %></p>
           <p><i>Was added by Eshop <%= time_ago_in_words(article.created_at) %> ago</i></p>
          <br />
        </div>
      </div>
    <% end %>
  <% end %>
  </div>



  <%= link_to 'Add New article', new_news_path, class: "btn btn-success btn-xs" %>
      