<div class="container-fluid">
  <div class="row featurette">
    <div class="col-md-9">
      <h2 class="featurette-heading"><%= @news.title %><span class="text-muted">
      <%= @news.sub_title %></span></h2>      
      <p class="lead"><%= @news.body %></p>
      <p><i>Was added by Eshop <%= time_ago_in_words(@news.created_at) %> ago</i></p>
      <br />
    </div>
    <div class="col-md-3">
      <%= image_tag(@news.image_url, class: 'featurette-image img-responsive') %>    
    </div>
  </div>
</div>

<%= link_to 'Edit', edit_news_path(@news) %> |
<%= link_to 'Back', news_index_path %>
