 <div id="flash">
 <% if notice.present? %>
    <%= render partial: "shared/notice_banner", :object => @order %>
  <% end %>
</div>


<%= form_for(@order, remote: true) do |f| %>
 
  <div class="container">
      <div class="row">
          <div class="col-lg-12">
              <div class="md-form form-group" id="order_form">
                  <br />
                  <div class="md-form">
                      <i class="fa  fa-user prefix"></i>
                      <%= f.text_field :name, class: "form-control validate", id: "form91" %>
                      <label for="form91" data-error="wrong" data-success="right">Type your full name</label>
                  </div>
                  <div class="md-form">
                      <i class="fa fa-home prefix"></i>
                      <%= f.text_area :address, class: "md-textarea", id: "form8" %>
                      <label for="form8">Type your delivery address</label>
                  </div>
                  <div class="md-form">
                      <i class="fa fa-envelope prefix"></i>
                      <%= f.email_field :email, class: "form-control", id: "form2" %>
                      <label for="form2">example@example.com</label>
                  </div>
                  <div>
                      <%= f.select :pay_type, options_for_select(Order::PAYMENT_TYPES), {prompt: 'Select a payment method'}, {required: 'true', class: 'mdb-select colorful-select dropdown-primary', style: "width: 250px"} %>
                  </div>
                  <br />
                  <button type="submit" class="btn btn-primary btn-lg btn-block">COMPLETE PURCHASE</button>
              </div>
          </div>
      </div>
  </div>
<% end %>

<script>
    // Material Select Initialization
    $(document).ready(function() {
        $('.mdb-select').material_select();
    });
</script>
<script>
document.addEventListener("turbolinks:before-cache", function() {
  // ...
})
</script>



