<p>
  <strong>Name:</strong>
  <%= @order.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @order.address %>
</p>

<p>
  <strong>Email:</strong>
  <%= @order.email %>
</p>

<p>
  <strong>Pay type:</strong>
  <%= @order.pay_type %>
</p>

<p>
  <strong>Order created date:</strong>
  <%= @order.created_at.strftime("%d %B %Y, %H:%M")  %>
</p>

<p>
  <strong>Order details:</strong><br />
</p>
<table class="table table-striped">
  <thead>
    <th>Product id</th>
    <th>Product title</th>
    <th>Quantity</th>
    <th>Price per one</th>
    <th>Price</th>
  </thead>
    <% @order.line_items.each do |details| %>
  <tbody>
    <td><%= details.product_id %></td>
    <td><%= details.product.title %></td>
    <td><%= details.quantity %></td>
    <td><%= details.price %></td>
      <% price_per_sku = details.price * details.quantity%>
    <td><%= details.price * details.quantity %></td>
    <% end %>
    
  </tbody>

  </table>
  
</p>
<p><%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %></p>






