<h2>Listing Contacts</h2>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Message</th>
      <th>email</th>
      <th>Date</th>
      <th>Action</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @contacts.each do |contact| %>
      <tr>
        <td><%= contact.message %></td>
        <td><%= contact.email %></td>
        <td><%= contact.created_at.strftime("%e %b %y at %H:%M") %></td>
        <td><%= link_to 'Show', contact, class: "btn btn-info btn-xs active" %>
            <%= link_to 'Destroy', contact,
                        class: "btn btn-danger btn-xs active", 
                        method: :delete,
                        data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Back to store catalog', store_path, class: "btn btn-primary btn-xs active" %>
